---
import Adminlayout from "src/shares/adminlayout.astro";
import { UserService } from "@service/UserService";
const { id } = Astro.params;
const service = new UserService();
const data = await service.GetUserById(id as string);
const props = {data : data};
---
<Adminlayout title = "User Detail Manager">
  <div>
    <form>
        <main>
          <div class="card">
            <div class="card__title">
              <h3>Restaurant Detail Manager</h3>
            </div>
            <div class="card__body">
              <div class="half">
                <div class="featured_text">
                  <h1>{props.data?.fullName}</h1>
                </div>
              </div>
              <div class="half">
                <div class="description">
                  <p class="sub">{props.data?.email}</p>
                </div>
                <span class="stock">
                  <i class="fa fa-pen" /> Edit
                </span>
                <div class="reviews">
                  <ul class="stars">
                    <li>
                      <i class="fa fa-star" />
                    </li>
                  </ul>
                  <span>{props.data?.phoneNumber}</span>
                  <span>(64 reviews)</span>
                  <div class="card__footer">
                    <div class="action">
                      <a href="/Admin/User/ListUser">
                        <button type="button">Back to list</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </form>
</div>
</AdminLayout>