<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- FontAwesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/src/pages/Customer/css/linearicons.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/animate.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/flaticon.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/slick.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/slick-theme.css" />
        <link
            rel="stylesheet"
            href="/src/pages/Customer/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/src/pages/Customer/css/bootsnav.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/style.css" />
        <link rel="stylesheet" href="/src/pages/Customer/css/responsive.css" />
    </head>
    <body>
        <section class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav
                    class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy"
                    data-minus-value-desktop="70"
                    data-minus-value-mobile="55"
                    data-speed="1000"
                >
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button
                                type="button"
                                class="navbar-toggle"
                                data-toggle="collapse"
                                data-target="#navbar-menu"
                            >
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="/Customer/Home"
                                >Foo<span>Drink</span></a
                            >
                        </div>
                        <div
                            class="collapse navbar-collapse menu-ui-design"
                            id="navbar-menu"
                        >
                            <ul
                                class="nav navbar-nav navbar-right"
                                data-in="fadeInDown"
                                data-out="fadeOutUp"
                            >
                                <li class="scroll active">
                                    <a href="/Customer/Home">home</a>
                                </li>
                                <li class="scroll">
                                    <a href="/Customer/Blog">blog</a>
                                </li>
                                <li class="scroll">
                                    <a href="/Customer/Review">review</a>
                                </li>
                                <li class="scroll">
                                    <a href="/Customer/Profile">profile</a>
                                </li>
                                <li>
                                    <a href="/Login" id="Exit">
                                        <button class="account-info-more">
                                            <svg
                                              xmlns="http://www.w3.org/2000/svg"
                                              width="24"
                                              height="24"
                                              viewBox="0 0 24 24"
                                              fill="none"
                                              stroke="currentColor"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"
                                              class="feather feather-log-out"
                                            >
                                              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                              <polyline points="16 17 21 12 16 7"></polyline>
                                              <line x1="21" y1="12" x2="9" y2="12"></line>
                                            </svg>
                                          </button>         
                                        </a>
                                </li>
                            </ul><!--/.nav -->
                        </div><!-- /.navbar-collapse -->
                    </div><!--/.container-->
                </nav><!--/nav-->
                <!-- End Navigation -->
            </div><!--/.header-area-->
            <div class="clearfix"></div>
        </section><!-- /.top-area-->
        <article>
            <slot />
        </article>
        <script>
            // Function to toggle the dropdown menu
            const buttonLogout = document.getElementById("Exit") as HTMLElement;
            buttonLogout.addEventListener("click", (event: MouseEvent) => {
                localStorage.clear()
            })

            // Function to handle dropdown selection change
            function handleSelectChange(event: Event) {
                const target = event.target as HTMLSelectElement;
                const selectedValue = target.value;
                if (selectedValue === "signin") {
                    window.location.href = "#signin";
                } else if (selectedValue === "register") {
                    window.location.href = "#register";
                }
                // Reset the select menu to default
                target.selectedIndex = 0;
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event: MouseEvent) {
                const target = event.target as HTMLElement;
                if (target && !target.matches(".dropdown-toggle")) {
                    const dropdowns =
                        document.getElementsByClassName("dropdown-menu");
                    for (let i = 0; i < dropdowns.length; i++) {
                        const openDropdown = dropdowns[i] as HTMLElement;
                        if (
                            openDropdown &&
                            openDropdown.style.display === "block"
                        ) {
                            openDropdown.style.display = "none";
                        }
                    }
                }
            };
        </script>
        <script src="/src/pages/Customer/js/jquery.js"></script>

        <!--modernizr.min.js-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        ></script>

        <!--bootstrap.min.js-->
        <script src="/src/pages/Customer/js/bootstrap.min.js"></script>

        <!-- bootsnav js -->
        <script src="/src/pages/Customer/js/bootsnav.js"></script>

        <!--feather.min.js-->
        <script src="/src/pages/Customer/js/feather.min.js"></script>

        <!-- counter js -->
        <script src="/src/pages/Customer/js/jquery.counterup.min.js"></script>
        <script src="/src/pages/Customer/js/waypoints.min.js"></script>

        <!--slick.min.js-->
        <script src="/src/pages/Customer/js/slick.min.js"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
        ></script>

        <!--Custom JS-->
        <script src="/src/pages/Customer/js/custom.js"></script>
    </body>
</html>
