---
import Customerlayout from "src/shares/customerlayout.astro";
---

<Customerlayout>
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Account settings</h4>
        <div class="d-flex align-items-start py-3 border-bottom">
        </div>
        <form id="formUpdate">
            <div class="py-2">
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="firstname">Full Name</label>
                        <input type="text" name="fullname" class="bg-light form-control" placeholder="Full Name">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="lastname">User Name</label>
                        <input type="text" name="username" class="bg-light form-control" placeholder="User Name">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="bg-light form-control" placeholder="gmail@email.com">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phonenumber" class="bg-light form-control" placeholder="Phone number">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="phone">Password</label>
                        <input type="password" name="password" class="bg-light form-control" placeholder="Password">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="phone">Address</label>
                        <input type="text" name="address" class="bg-light form-control" placeholder="Address">
                    </div>
                </div>
                </div>
                <div class="py-3 pb-4 border-bottom">
                    <button class="btn btn-primary mr-3">Save Changes</button>
                    <a href="Customer/Home">
                        <button class="btn border button">Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <script>
        import { UserService } from "@service/UserService"
        import type { UpdateUserRequest } from "src/type/User";
        const idUser = localStorage.getItem("userId")
        const service = new UserService();
        const currentUser = await service.GetUserById(idUser as string);

        const form = document.getElementById("formUpdate");
        form?.addEventListener("submit", async (event) => {
            const formData = new FormData(form as any);

            const data : UpdateUserRequest = {
                id : idUser as string,
                username: formData.get("username") as string,
                password: formData.get("password") as string,
                email: formData.get("email") as string,
                fullName : formData.get("fullname") as string,
                phoneNumber : formData.get("phonenumber") as string,
                address : formData.get("address") as string,
                favoritedList : currentUser.favoritedList
            }
            await service.UpdateUser(data);
            alert("update complete")
        })

        

    </script>
</Customerlayout>