---
import { RestaurantService } from "../service/RestaurantService";
const restaurantService = new RestaurantService();
const listRestaurant = await restaurantService.GetListRestaurant();

console.log(listRestaurant);

const props = {listRestaurant : listRestaurant};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FooDrink</title>
	</head>
	<body>
		<div class="navigation-bar">
			<a>FooDrink</a>
			<a href="/About"> REVIEW </a>
			<a href="/About"> ABOUT </a>
			<a href="/Contact"> CONTACT</a>
			<input type="text" placeholder="Search"/>
			<button type="submit">
				<a>Search</a>
			</button>
			<button>
				<a href="/Login"> Order </a>
			</button>
		</div>

		<div class="body-area">
			<div class="welcome-layout">
				<a>The best fine dining place</a>
			</div>
			<div >
				{
					props.listRestaurant.map( item => 
						<div>
							<div class="card" style="width: 18rem;">
								<img src={item.imageList} class="card-img-top">
								<div class="card-body">
									<h5 class="card-title">{item.restaurantName}</h5>
									<p class="card-text">{item.address}</p>
								</div>
							</div>
						</div>
					)
				}
			</div>
		</div>
	</body>
</html>