---
import { RestaurantService } from "../service/RestaurantService";
const restaurantService = new RestaurantService();
const listRestaurant = await restaurantService.GetListRestaurant();

const props = {listRestaurant : listRestaurant};
---
<link rel="stylesheet" href="src/components/BodyContent.css">

<div style="background-color: black;">
  <div class="introduction-restaurant">
    <h3></h3>
    <h2>Welcome to our Restaurants</h2>
  </div>
  <img src="/public/assets/fine_dinning_background.jpg" style="margin-bottom: 3em;"/>

  <div class="small-container" style="background-color: black;">
    <div class="row">
      {
        props.listRestaurant.map(item =>(
          <div class="col-4">
            <img src={item.imageList[0]} />
          </div>
        ))
      }
  </div>

  <div class="food-type">
    <h1>What do we have for you ?</h1>
    <div>
        <h2>Vietnamese Food</h2>
        <h2>Chinese Food</h2>
        <h2>Japanese Food</h2>
        <h2>And more than that.</h2>
    </div>
  </div>
</div>

