---
---
<link rel="stylesheet" href="src/components/NavigationBar.css">
<nav class="navbar">
    <div class="navbar-container">      
      <form class="navbar-search" action="/search" method="get">
        <input type="text" name="q" placeholder="Search..." aria-label="Search">
        <button type="submit">Search</button>
      </form>
      <div class="navbar-auth">
        <a href="/login" class="btn btn-login">Login</a>
        <a href="/create-account" class="btn btn-create-account">Create Account</a>
      </div>
    </div>
    <span class="brand-name"> FooDrink </span>
  </nav>
  