---
import Sidebar from '../component/Sidebar.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Home Page</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <Sidebar />
    <div style="margin-left: 250px; padding: 20px;">
      <slot />
    </div>
  </body>
</html>